<h2> Product List </h2>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Name</td>
      <td>Brand</td>
      <td>Price</td>
      <td>Discounted Price</td>
      <td>Description</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.Id}}</td>
        <td>{{product.Name}}</td>
        <td>{{product.Brand}}</td>
        <td>{{product.Price}}</td>
        <td>{{product.DiscountedPrice}}</td>
        <td>{{product.Description}}</td>
        <td><button (click)="productDelete(product)">Delete</button></td>
      </tr>
  </tbody>
</table>
